# Ignore everything
/*
/*/
 
# Inverse ignore essentials
!/Assets/
!/ProjectSettings/
!.gitignore
 
# OS Stuff
.DS_Store
._*
.Spotlight-V100
.Trashes
ehthumbs.db
[Tt]humbs.db
Cats_unity_project/Library/
Cats_unity_project/Temp/
Cats_unity_project/Assemply-CSharp-vs.csproj
Cats_unity_project/Cats_unity_project.userprefs
Cats_unity_project/Cats_unity_project-csharp.sln
Cats_unity_project/Cats_unity_project.sln
Cats_unity_project/Assembly-CSharp-vs.csproj
Cats_unity_project/Assembly-CSharp.csproj
../.gitignore.*.meta
Assembly-UnityScript-vs.unityproj
Assembly-UnityScript.unityproj

*.meta